Watercraft Details:
<li><strong>Year: </strong> <%= @quote.boat_year %></li>
<li><strong>Make: </strong> <%= @quote.boat_make %></li>
<li><strong>Model: </strong> <%= @quote.boat_model %></li>
<li><strong>Year Purchased: </strong> <%= @quote.boat_year_purchased %></li>
<li><strong>Location Zip Code: </strong> <%= @quote.boat_location_zipcode %></li>
<li><strong>Watercraft Use: </strong> <%= @quote.boat_usage %></li>
