<li><strong>Street Address: </strong> <%= @quote.street_address %></li>
<li><strong>Street Address 2: </strong> <%= @quote.street_address2 %></li>
<li><strong>City: </strong> <%= @quote.city %></li>
<li><strong>Zip Code: </strong> <%= @quote.zipcode %></li>
<li><strong>Business Type: </strong> <%= @quote.commercial_business_type %></li>
<li><strong>Type of Insurance: </strong> <%= @quote.commercial_type_of_insurance%></li>
