<li><strong>Street Address: </strong> <%= @quote.street_address %></li>
<li><strong>Street Address 2: </strong> <%= @quote.street_address2 %></li>
<li><strong>City: </strong> <%= @quote.city %></li>
<li><strong>Zip Code: </strong> <%= @quote.zipcode %></li>
<!-- <li><strong>Type of Home: </strong> <%= @quote.flood_type_of_home %></li>
<li><strong>Is your home over water? </strong> <%= @quote.flood_is_home_over_water %></li>
<li><strong>Building Purpose: </strong> <%= @quote.flood_building_purpose %></li> -->
<li><strong>Primary Home? </strong> <%= @quote.flood_is_primary_home %></li>
