<li><strong>Street Address: </strong> <%= @quote.street_address %></li>
<li><strong>Street Address 2: </strong> <%= @quote.street_address2 %></li>
<li><strong>City: </strong> <%= @quote.city %></li>
<li><strong>Zip Code: </strong> <%= @quote.zipcode %></li>
<li><strong>Date of Birth: </strong> <%= @quote.date_of_birth %></li>
<li><strong>Gender: </strong> <%= @quote.gender %></li>
<li><strong>Are you self-employed? </strong> <%= @quote.health_self_employed %></li>
<li><strong>Expected Annual Household Income: </strong> <%= @quote.health_expected_annual_household_income %></li>
<li><strong>Number of People in your Household: </strong> <%= @quote.health_number_of_people_in_household %></li>
<!-- <li><strong>Does anyone have major health conditions? </strong> <%= @quote.health_anyone_have_major_health_conditions %></li>
<li><strong>Major life event in the past 30 days? </strong> <%= @quote.health_major_life_event_in_past_thirty_days %></li>
 -->