<li><strong>Street Address: </strong> <%= @quote.street_address %></li>
<li><strong>Street Address 2: </strong> <%= @quote.street_address2 %></li>
<li><strong>City: </strong> <%= @quote.city %></li>
<li><strong>Zip Code: </strong> <%= @quote.zipcode %></li>
<li><strong>Date of Birth: </strong> <%= @quote.date_of_birth %></li>
<li><strong>Gender: </strong> <%= @quote.gender %></li>
<li><strong>Height: </strong> <%= @quote.height %></li>
<li><strong>Weight: </strong> <%= @quote.weight %></li>
<li><strong>Tobacco Used: </strong> <%= @quote.life_tobacco_used %></li>

<li><strong>Term: </strong> <%= @quote.life_term %></li>
<li><strong>Coverage Amount: </strong> <%= @quote.life_coverage_amount %></li>