<li><strong>Date of Birth: </strong> <%= @quote.date_of_birth %></li>
<li><strong>Street Address: </strong> <%= @quote.street_address %></li>
<li><strong>Street Address 2: </strong> <%= @quote.street_address2 %></li>
<li><strong>City: </strong> <%= @quote.city %></li>
<li><strong>Zip Code: </strong> <%= @quote.zipcode %></li>
Property Info
<li><strong>Number of Units in your bulding: </strong> <%= @quote.renter_number_of_units %></li>
<li><strong>Personal Propery Coverage: </strong> <%= @quote.renter_personal_property_coverage %></li>
Occupancy
<li><strong>Do you own any dogs? </strong> <%= @quote.renter_own_dogs %></li>
<li><strong>Number of people living in your unit? </strong> <%= @quote.renter_number_of_people_living_in_unit %></li>
<li><strong>How many full-time employees live in your unit? </strong> <%= @quote.renter_number_of_full_time_employees %></li>
<li><strong>Are any policy holders retired? </strong> <%= @quote.render_are_any_policy_holders_retired %></li>
