<%= render "hero" %>
<div class="container whoweare">
	<section class="intro">
		<article>
			<h2>
				We’re an independent agency in the business of helping people feel secure without breaking the bank. We’ve built a reputation on trust via word of mouth. In fact, most of our customers are our friends, and their friends.
			</h2>
			<p>	
				We know that when it comes to some of the biggest investments such as your home, car, boat, jewelry, health, and most of all your life; trust matters. 
			</p>
			<p>
				Joe Stanovich, Orange County native and founder of Balboa Pacific, saw an opportunity to offer better service across carriers while saving people money.  “Insurance shouldn’t be a daunting process. Knowing all the ins and out can make the experience a whole lot easier and more affordable, so why not share that knowledge. I’m in this business to do just that.” 
			</p>
			<p>
				Balboa Pacific offers the highest quality insurance products in the market (Liberty Mutual, Anthem, Foremost, Travelers, Safeco, MetLife etc.) at the lowest price points both internally to our employees and also externally to our customers, partners, friends and family.
			</p>
		</article>
	</section>
	<section class="team">
		<article>
			<h2>
				The Team
			</h2>
			<hr>
			<ul class="team-layout">
				<li>
					<div class="team-img"><%= image_tag "team/Joe.png", :class=>"img-swap", :alt=>"Team Photo - Joe Stanovich" %></div>
					<div class="team-title">
						<p>Joe Stanovich, CEO/Broker</p>
					</div>
				</li>
				<li>
					<div class="team-img"><%= image_tag "team/Mario.png", :class=>"img-swap", :alt=>"Team Photo - Mario De Tomasi" %></div>
					<div class="team-title">
						<p>Mario De Tomasi, Director</p>
					</div>
				</li>
				<li>
					<div class="team-img"><%= image_tag "team/Scott.png", :class=>"img-swap", :alt=>"Team Photo - Scott Simonich" %></div>
					<div class="team-title">
						<p>Scott Simonich, Director</p>
					</div>
				</li>
				<li>
					<div class="team-img"><%= image_tag "team/Ravi.png", :class=>"img-swap", :alt=>"Team Photo - Ravi Correa" %></div>
					<div class="team-title">
						<p>Ravi Correa, Chief Financial Officer</p>
					</div>
				</li>
				<li>
					<div class="team-img"><%= image_tag "team/Kristie.png", :class=>"img-swap", :alt=>"Team Photo - Kristie Berg" %></div>
					<div class="team-title">
						<p>Kristie Berg, VP of Marketing</p>
					</div>
				</li>
				<li>
					<div class="team-img"><%= image_tag "team/Don.png", :class=>"img-swap", :alt=>"Team Photo - Don Stolan" %></div>
					<div class="team-title">
						<p>Don Stolan, Advisor</p>
					</div>
				</li>
			</ul>
		</article>
	</section>
	<section class="features">
		<h2>
			How We Save You Money <span>(and Time)</span>
		</h2>
		<hr>
		<ul>
			<li>
				<h3>We Explore Your Options</h3>
				<p>
					Every person is different. We act as your advocate to help determine your unique coverage type and needs. We’ll show you options and walk you through the details.
				</p>
			</li>
			<li>
				<h3>We Manage Your Needs</h3>
				<p>
					Imagine having a single point of contact across all coverage types. We do that for you and act as an important resource for all your insurance needs.
				</p>
			</li>
			<li>
				<h3>We Keep An Eye Out</h3>
				<p>
					As time goes by, situations can change along with your insurance needs. Luckily, you don’t need to change agencies. We’ll always find you the right coverage at the best price.
				</p>
			</li>
		</ul>
	</section>
	<section class="location">
		<h2>
			Location
		</h2>
		<hr>
		<div class="address">
			450 Newport Center Drive Suite 200<br>
			Newport Beach, CA 92660
		</div>
		<div class="contact-btn">
			<a href="mailto:info@balboapacific.com" class="btn btn--blue">Contact Us</a>
		</div>
	</section>
</div>

<a href="https://goo.gl/maps/ddixw66eDbo" target="_BLANK"><%= render "map" %></a>
